<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification Budget</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">
    <section class="mt-5">
        <h1>Modifier Un Budget</h1>
    </section>
    <form th:action="@{'/budgets/update/' + ${budget.id}}" method="post" th:object="${budget}">

        <div class="mb-3">
            <label for="montant" class="form-label">Montant</label>
            <input type="number" min="0" th:field="*{montant}" class="form-control"
                   id="montant" placeholder="Montant">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" th:field="*{date_debut}" class="form-control" id="date" placeholder="Date">
        </div>
        <div class="mb-3">
            <label class="form-label">Catégorie</label>
            <select class="form-select selectpicker" th:field="*{categorie}">
                <option th:each="categorie : ${categories}"
                        th:value="${categorie.id}" th:text="${categorie.nom}">

                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Departement</label>
            <select class="form-select selectpicker" th:field="*{departement}">
                <option th:each="departement : ${departements}"
                        th:value="${departement.id}" th:text="${departement.nom}">

                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Enregistrer</button>
    </form>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>